*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* (A) ENTIRE PAGE */
#cart-wrap * {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#cart-wrap {
  max-width: 800px;
  margin: 0 auto;

}
input.cart, button.cart {
  border: 0;
  padding: 10px;
  color: #fff;
  background: #d32828;
  cursor: pointer;
}

/* (B) PRODUCTS */
#cart-products {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; padding: 10px;
  padding-top: 60px;
}
.p-item { position: relative; }
.p-img { width: 100%; }
.p-info {
  display: flex; align-items: center;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.p-txt { flex-grow: 1; }
.p-name {
  color: #fff;
  font-size: 1.1em; font-weight: 700;
}
.p-price { color: #fff; }
.p-add { font-size: 1.5em; }

/* (C) CART */
#cart-items { padding: 10px; }
.c-item {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
}
.c-item:nth-child(even) { background: #fff; }
.c-qty {
  width: 60px;
  padding: 10px;
}
.c-name {
  padding: 0 10px;
  flex-grow: 1;
}
.c-del { font-size: 1.2em; }
.c-total {
  padding: 10px;
  font-size: 1em; font-weight: 700;
  background: #ffe9e9;
}
.c-go { margin-top: 10px; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.links{
  display: flex;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  justify-content: space-between;
  background-color: aquamarine;
  
} 
.link h3{
  font-size: 20px;
  font-weight: bold;
  
}

.search {
width: 100%;
position: relative;
display: flex;
}

.searchTerm {
width: 100%;
border: 3px solid #00B4CC;
border-right: none;
padding: 5px;
height: 20px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9DBFAF;
}

.searchTerm:focus{
color: #00B4CC;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
width: 30%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.link a{
  gap: 100px;
}
.links > input  {
width: fit-content;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;


}
.links > input :focus{
   color: #00B4CC;
}

/* Slideshow */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
font-family: 'Montserrat', sans-serif;
background-color: #000;
color: #fff;
}

.intro {
height: 100vh;
position: relative;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.1rem;
}
.intro-slideshow img {
position: absolute;
top: 0;
left: 0;
width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
object-fit: cover;
z-index:-1;
/* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
/* display: none; */
opacity: 0;
transition: opacity 0.75s ease-in-out;
}
/* .intro-slideshow img:first-child {
display: block;
opacity: 1;
} */
.intro .intro-header {
border-radius: 0.5rem;
padding: 2rem 2.5rem;
/* background-color: rgba(0,0,0,0.5); */
}
.intro h1 {
font-size: 4rem;
margin-bottom: 0.75rem;
}
.intro p {
font-size: 1.75rem;
}

@media (max-width: 700px) {
html { font-size: 12px; }
.intro-header { padding: 1.5rem 2rem; }
.intro h1 { font-size: 2.5rem; }
.intro p { font-size: 1.25rem; }
}
.intro-header{
background-color : transparent;
}
.intro-header button{

color: black;
background-color: aqua transparent;
border-radius: 10px;
padding: auto;
gap: 30px;
margin-top: 50px;
font-size: 24px;
height: 50px;
width: 200px;
}

.intro-header button:hover{
background-color: red;
color: white;
}



.intro-header button:active{
background-color: red;
color: white;
}


/* Footer */

.footer__logo {
margin-bottom: 20px;
}
.footer__widget {
margin-bottom: 30px;
}
.footer__widget ul li {
list-style: none;
color: #666666;

/* display: list-item; */
/* text-align: -webkit-match-parent; */
}
.footer__widget h6 {
color: #111111;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 12px;
}
.footer__newsletter h6{

color: #111111;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 12px;
}



@media screen and (max-width: 767px) {

.content{
flex-direction: column;
justify-content: center;
align-items: center;
margin: 2.5rem;
}
.map {
width: 90%;
}
.contact {
width: 90%;
}



}
@media screen and (max-width: 480px) {
.map {
width: 98%;
}
.contact {
width: 98%;
}
.instagram{
flex-direction: column;
justify-content: center;
align-items: center;
}
.instagram__item{
width: 80%;

}
}

footer{
background-color: whitesmoke;
color: #000;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.row1 {
}
.row1 img {
height: 200px;
width: 200px;
border-radius: 50%;
}

.row2 a{
border-radius: 50%;
height: 40%;
width: 20%;
}
.newsletter{
height: 100px;
color:aqua;
background-color: azure;
padding-top: 20px;
justify-items: center;
align-content: center;
}

.copyright{
text-align: center;
background-color: rebeccapurple;
font-size: 36px;
}

.row3 {

}

.row2, .row3, .row4{
gap: 10px;
}


/* FlashSales */


.flashsales{
height: 200px;
display: flex;
flex-direction: row;

}
.product-sale{

}
.product-sale img{
height: 150px;
}